*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #e5eff5;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.wrapper {
  padding: 0 1.875rem;
}

.cards {
  box-shadow: 0.3125rem 0.3125rem 1.25rem rgba(0, 0, 0, 0.2);
  max-width: 39.75rem;
  margin: 4.375rem auto;
}

.cards__one {
  background-color: #fff;
  border-top-left-radius: 0.4375rem;
  border-top-right-radius: 0.4375rem;
}

.cards__one > h1 {
  color: #2ab2af;
  font-size: 1.2rem;
  margin-bottom: 1.25rem;
}

.cards__one > h2 {
  color: #bdde2b;
  font-size: 0.9375rem;
  margin-bottom: 1.25rem;
}

.cards__one > p {
  font-size: 0.8125rem;
  line-height: 1.7rem;
  color: #98a6bd;
}

.cards__two {
  background-color: #2ab2af;
  color: #e5eff5;
}

.cards__two > h2 {
  font-size: 1.1rem;
  margin-bottom: 0.9375rem;
}

.cards__two .cards__two-price {
  margin-bottom: 0.625rem;
}

.cards__two .amount {
  font-size: 2rem;
  font-weight: 700;
}

.cards__two .monthly {
  position: relative;
  left: 0.5rem;
  bottom: 0.3125rem;
  opacity: 0.7;
}

.cards__two-btn {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 1.875rem;
  padding: 0.9375rem 0;
  width: 100%;
}

.cards__two-btn:focus {
  outline: none;
}

.cards__three {
  background-color: #2dbebc;
  border-bottom-right-radius: 0.4375rem;
  border-bottom-left-radius: 0.4375rem;
  color: #e5eff5;
}

.cards__three > h2 {
  font-size: 1.1rem;
  margin-bottom: 1.25rem;
}

.cards__three-features {
  font-size: 0.875rem;
  line-height: 1.2rem;
  opacity: 0.9;
}

.cards--padding {
  padding: 1.8125rem 1.4375rem;
}

.cards--padding__btm {
  padding: 1.6875rem 1.5rem;
}

.btn--style {
  box-shadow: 0.1875rem 0.4375rem 0.9375rem 0.125rem rgba(0, 0, 0, 0.2);
  transition: color 500ms, background-color 500ms;
  background-color: #b7d822;
  border-radius: 0.3125rem;
  color: #e5eff5;
  border: none;
}

@media (min-width: 37.5rem) {
  .cards {
    margin-top: 10.1875rem;
  }
  .cards--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .cards--padding,
  .cards--padding__btm {
    padding: 2.6875rem 2.375rem;
  }
  .cards__one {
    grid-column: span 2;
  }
  .cards__one h1 {
    font-size: 1.25rem;
  }
  .cards__one h2 {
    font-size: 1rem;
    margin-bottom: 0.9375rem;
  }
  .cards__one p {
    font-size: 1rem;
  }
  .cards__two {
    grid-column: 1/2;
    border-bottom-left-radius: 0.4375rem;
  }
  .cards__two-btn:hover {
    background-color: #e5eff5;
    color: #b7d822;
    cursor: pointer;
  }
  .cards__three {
    grid-column: 2/3;
    border-bottom-left-radius: 0;
  }
}
