@media (min-width: 37.5rem) {
  .cards {
    margin-top: 10.1875rem;
  }

  .cards--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cards--padding,
  .cards--padding__btm {
    padding: 2.6875rem 2.375rem;
  }

  .cards__one {
    grid-column: span 2;

    h1 {
      font-size: 1.25rem;
    }

    h2 {
      font-size: 1rem;
      margin-bottom: 0.9375rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .cards__two {
    grid-column: 1/2;
    border-bottom-left-radius: 0.4375rem;
  }

  .cards__two-btn:hover {
    background-color: $secondary-gray;
    color: darken($primary-yellow, 5%);
    cursor: pointer;
  }

  .cards__three {
    grid-column: 2/3;
    border-bottom-left-radius: 0;
  }
}
